<div class="qa-main-heading">
  <h1>
    <a>
      <%= @question.title %>
    </a>
  </h1>
</div>
<div class="qa-part-q-view">
  <div class="qa-q-view" id="q75295">
    <form method="post" >
      <div class="qa-q-view-stats">
        <div class="qa-voting qa-voting-net" id="voting_75295">
          <div class="qa-vote-buttons qa-vote-buttons-net">
            <input title="Click to vote up" name="vote_75295_1_q75295" onclick="return qa_vote_click(this);" type="submit" value="+" class="qa-vote-first-button qa-vote-up-button"> 
            <input title="Click to vote down" name="vote_75295_-1_q75295" onclick="return qa_vote_click(this);" type="submit" value="–" class="qa-vote-second-button qa-vote-down-button"> 
          </div>
          <div class="qa-vote-count qa-vote-count-net">
            <span class="qa-netvote-count">
              <span class="qa-netvote-count-data"><%# votes count here%> 0</span>
              <span class="qa-netvote-count-pad">
                votes 
                <meta itemprop="upvoteCount" content="0">
              </span>
            </span>
          </div>
          <div class="qa-vote-clear"></div>
        </div>
        <span class="qa-view-count">
        <span class="qa-view-count-data"><%# view count here%></span><span class="qa-view-count-pad"> views</span>
        </span>
      </div>
      <input name="code" type="hidden" value="0-1558922749-01477a7b247d6f1cfdabd5095fa312297a683d34">
    </form>
    <div class="qa-q-view-main">
      <form method="post" action="../75295/mobile-login-problems-in-mi-browser">
        <span class="qa-q-view-avatar-meta">
        <span class="qa-q-view-avatar">
        <a href="../user/esqeudero" class="qa-avatar-link"><img src="../?qa=image&amp;qa_blobid=12697203736109131893&amp;qa_size=50" width="50" height="50" class="qa-avatar-image" alt=""></a>
        </span>
        <span class="qa-q-view-meta">
        <a href="" class="qa-q-view-what" itemprop="url">asked</a>
        <span class="qa-q-view-when">
        <span class="qa-q-view-when-data"><%= time_ago_in_words(@question.created_at) %> ago</span>
        </span>
        <span class="qa-q-view-where">
        <span class="qa-q-view-where-pad">in </span><span class="qa-q-view-where-data"><a class="qa-category-link">Q2A Core</a></span>
        </span>
        <span class="qa-q-view-who">
        <span class="qa-q-view-who-pad">by </span>
        <span class="qa-q-view-who-data"> <%# User created%> </span>
        </span>
        </span>
        </span>
        <div class="qa-q-view-content qa-post-content">
          <a name="75295"></a>
          <%= @question.content %>
        </div>
        <div class="qa-q-view-extra">
          Q2A version:
          <span class="qa-q-view-extra-content">
          1.8.9
          </span>
        </div>
        <div class="qa-q-view-tags">
          <ul class="qa-q-view-tag-list">
            <li class="qa-q-view-tag-item"><%# put tags here%></li>
          </ul>
        </div>
        <div class="qa-q-view-buttons">
          <div title="Answer this question" class="qa-form-light-button qa-form-light-button-answer">
            answer <%# link to answer%>
          </div>
          <div title="Add a comment on this question" class="qa-form-light-button qa-form-light-button-comment">
            comment <%# link to answer%>
          </div>
        </div>
        <input name="code" type="hidden" value="0-1558922749-a1626aa1ccbbf020bf67827768d2f78c04f0f982">
        <input name="qa_click" type="hidden" value="">
      </form>
      <div class="qa-c-form" id="c75295" style="display:none;">
        <h2>Please <a href="../login?to=75295%2Fmobile-login-problems-in-mi-browser">log in</a> or <a href="../register?to=75295%2Fmobile-login-problems-in-mi-browser">register</a> to add a comment.</h2>
      </div>
      <!-- END qa-c-form -->
    </div>
    <!-- END qa-q-view-main -->
    <div class="qa-q-view-clear"></div>
  </div>
  <!-- END qa-q-view -->
</div>
